<h2> Eployee List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.emailId}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
            </td>
        </tr>
    </tbody>

</table>
